
.inventory{
    bottom: 0rem;
    width: 484px;
    font-size: 20px;
    padding-top: 0.15rem;
    padding-left: 0.75rem;
    margin-left: 0.25rem;
    color: white;
    border: 0.15rem solid black;
    align-self: center;
}

.loterica{
    display: none;
}

.projetos{
    display: none;
}
.sellButtons{
    display: grid;
    grid-template-columns: repeat(3, 15rem);
}

.sellButtonsBlog{
    display: grid;
    grid-template-columns: repeat(3, 25rem);
}

.upgrades, .items button{
    display: grid;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
}

.upgradesBlog, .items button{
    display: grid;
    grid-template-columns: repeat(1, 25rem);
    margin-bottom: 1rem;
}

button{
    background-color: white;
    font-size: 20px;
    border-radius: 05%;
}

.memeWakeUp{
    position: static;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

.containerReset{
    margin-left: 0.3rem;
    width: 600px;
    display: flex;
    background-image: url("https://jpimg.com.br/uploads/2017/04/1232546088-capa-meme-senhora.jpg");
    background-repeat: no-repeat;
    background-size: 600px 700px;
    color: black;
    font-size: 20px;
}

.textoMemePrestigio{
    border-radius: 0%;
    width: 600px;
    top: 380px;
    left: 661px;
    font-size: 17px;
    position: absolute;
}

.memePrestigio{
    border-radius: 0%;
    width: 600px;
    position: absolute;
    top: 758px;
    left: 661px;
    font-size: 15px;
}

.memeRacaNegra{
    width: auto;
    padding-top: 1rem;
}

.conteudo {
    margin: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.todoFundo {
    background-color: darkgreen;
}

.botao {
    background-color: rgb(211, 211, 6);
}

.botaoBlog {
    background-color: rgb(211, 211, 6);
}

.main{
    width: auto;
}

.memeRandom{
    width: 1000px;
}